*{
    margin: 0px;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/worksans/v11/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32KxfXBiAJpp_c.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }

  body::-webkit-scrollbar {
    -webkit-appearance: none;
}

body::-webkit-scrollbar:vertical {
    width:12px;
}

body::-webkit-scrollbar-button:increment,.productoRelacionadoC::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar-thumb {
    background-color: #666666;
    
    
}

body::-webkit-scrollbar-track {
    border-left: 2px solid #666666;  
    background-color: #969696;
}